# Ignore virtual environment directory
venv/

# Ignore PyCharm/IntelliJ IDEA project settings directory
.idea/

# More folders to ignore
*/__pycache__/*

# Exclude file types
*/*.exe
*/*.pyc

# Semantic Search
SemanticSearch/chroma/
SemanticSearch/config.yaml
DataSets/*.pdf
