# Ignore virtual environment directory
venv/

# Ignore PyCharm/IntelliJ IDEA project settings directory
.idea/

# More folders to ignore
AnalyseMSFT/__pycache__/*
AnalyseMSFT/docs/build/
AnalyseMSFT/docs/source/__pycache__/
AnalyseMSFT/docs/source/_static/
AnalyseMSFT/docs/source/_templates/


# Exclude file types
*/*.exe
*/*.pyc
